<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uthiram.uthiramv007">

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uthiramv007"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ViewRequests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestBloodDonor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SendSmsPage" />
        <activity
            android:name=".ForgetPasswordOtpVerifyPage"
            android:label="Forget Password OTP Verification" />
        <activity
            android:name=".ForgetPasswordPage"
            android:label="Forget Password" />
        <activity
            android:name=".UpdateDonorStatusPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdatePhoneNoOtpPage"
            android:label="Update PhoneNo OTP Verify" />
        <activity
            android:name=".UpdateDonorDetailsPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewDonorProfile"
            android:label="View Donor Profile" />
        <activity
            android:name=".DonorHomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OtpPage"
            android:label="OTP Verification" />
        <activity
            android:name=".RegisterPage"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".FilteredDeptHomePage"
            android:label="Filtered Department Page " />
        <activity
            android:name=".FilteredBloodHomePage"
            android:label="Filtered Blood Group Page" />
        <activity
            android:name=".LoginPage"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".FilteredHomePage"
            android:label="Filtered Home Page" />
        <activity
            android:name=".HomePage"
            android:label="Uthiram"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>